// Styling for the masthead
header.masthead {
  padding-top: 5rem;
  padding-bottom: calc(5rem - #{$navbar-height});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  h1 {
    font-size: 2.25rem;
  }

  @include media-breakpoint-up(lg) {
    min-height: 40rem;
    padding-top: $navbar-height !important;
    padding-bottom: 0 !important;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }

  .masthead-title {
    fill: $white;
    margin-bottom: 1rem;
    width: 300px;
  }

  .masthead-arrow {
    margin-bottom: 30px;
    width: 50px;
    stroke: fade-out($white, 0.3);
    &:hover {
      stroke: $primary;
    }
  }

  &.halfHeight {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    height: 50vh;
  }

  &::after {
    background-attachment: fixed;
  }
}
